body {
    background-color: lightgray;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#banner-container-fluid {
    background-image: url("../img/technology.jpg");
    background-attachment: fixed;
    text-align: center;
    color: rgb(44, 35, 31);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#isi {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    height: 120px;
    width: 120px;

}

.footer {
    text-align: center;
}